.form-control {
  border-radius: 0px !important;
}

.list-group-item {
  border-radius: 0px !important;
}

.img, .img-thumbnail {
  padding: 0px !important;
  border-radius: 100% !important;
  height: 35px !important;
  width: 35px !important;
}

.name {
  margin-top: 0.5rem !important;
  margin-left: 1rem !important;
}

.pointer {
  cursor: pointer;
}